/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');
/*Resetando padrões da pagina*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
}

/*Adicionando padrões gerais */
body{
    background-color: rgb(240, 239, 231);
}
.infoBlock{
    width: 90%;
    margin: auto;
}

/*Manipulando o cabeçalho*/
header{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: #000;
    color: #FFFFFF;
    position: fixed;
    z-index: 10;
    
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}
.padrao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
  
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1vw;
}
.navegacao{
    justify-content: space-between;
}
ul{
    font-weight: 800;
}
/*Area logo*/
nav h1{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    
}

.spanLogo{
    display: flex;
    align-items: center;
    width: auto; 
}
.logo{
   width: auto;
   height: 6vh;
}