
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #fffafa;
}
/*Editando a navbar/Header*/
.header{
    background-color: black;
    color: white;
    border-bottom: solid 2px orangered ;
}
.header .container{
    width: 80%;
    margin: auto;
}
.header .container{
    display: flex;
    justify-content: space-between;
    
}
.header{
    width: 100%;
    z-index: 10;
}
.navbar{
    display: flex;
    width: 600px;
    color: white;
    justify-content: end;
    list-style: none;
    align-items: center;
}
.navbar h2{
    font-size: 3.4ch;
    font-weight: 400;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.spanLogo{
    display: flex;
    justify-content: space-around;
}
.spanLogo .logo {
    width: 60px;
    height: 75px;
}
.spanLogo h1{
    text-decoration:  underline orangered ;
}
.efeito{
    font-weight: 700;
}
.efeito:hover{
    color: orangered;
    font-weight: 400;
}
/*Trabalhando na sessão principal*/
/*Trabalhando com a parte central*/
.inicio .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    width: 90%;
    margin: auto;
}
.inicio .conteudo{
    width: 100ch;
    margin: auto;
    border: #FF701F solid 4px;
    border-radius: 3%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #111;
}
.conteudo .textoPergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 70ch;
    background-color: #111;

    
}
.textoPergunta h2{
    font-size: 60px;
    text-align: center;
    color: white;
    
}
.conteudo .iniciar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 60ch;
    border: #FF701F solid 5px;
    border-radius: 9px;
    margin-bottom: 15%;
    background-color: #111;
}
.iniciar h2{
    color: white;
    font-size: 75px;
    text-align:center;
    font-weight: 400;

}

/*Trabalhando com as imagens*/
.inicio .imgEsquerda{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    margin-right: 40px;
}
.inicio .imgDireita{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    height: 75vh;
}
.branco{
    padding-left: 2ch ;
    width: 11ch;
}
.azul{
    width: 15ch;
}
.preto{

    width: 16.5ch;
}
.vermelho{
    width: 15ch;
    }
.verde{
    width: 15ch;
}
/*Trabalhando no modal de login*/
.login {
    width: 30vw;
    height: 75vh;
    background-color: #FFFAFA;
    position: absolute;
    display: none;
    top: 12%;
    left: 35%;
    animation: animate;
    animation-duration: 800ms;
    border:#FF701F solid 5px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerLogin{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerLogin .headerLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLogin .dadosLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerLogin .headerLogin h1{
    color: #111;
    display: flex;

}
.containerLogin .dadosLogin span{
    color: #111;
    display: flex;
}
.containerLogin .dadosLogin input{
    height: 2vw;
    width: 30vh;
    display: flex;
}